.search-results-container {
  padding: 20px;
  // This padding accounts for the main header and the secondary dashboard toolbar
  padding-top: calc(64px + 64px); 
  padding-bottom: 64px; /* Space for the main fixed footer */
}

.results-card {
  margin: 0 30px;
}

table {
  width: 100%;
}

// Using ::ng-deep to apply styles to the Material table components
::ng-deep .mat-mdc-table {
  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding: 0 8px;
  }

  .mat-mdc-row {
    height: 42px;
  }

  .mat-mdc-header-row {
    height: 48px;
  }
}