.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 100%;
  max-width: 400px;
}

mat-card-header {
  justify-content: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.error-message {
  color: var(--mat-sys-error);
  margin-bottom: 1rem;
  text-align: center;
}