<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header" *ngIf="!isLoginPage">
      <span><img src="assets/ecolab-logo-white-svg.svg" alt="Ecolab Logo" /></span>
      <span class="toolbar-title">{{title}}</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
    <mat-toolbar class="footer" *ngIf="!isLoginPage">
      <div class="footer-content">
        <span>
          © Ecolab {{this.currentYear}}
        </span>
        <span>
          &nbsp;|&nbsp;<a href="#">Privacy Policy</a>&nbsp;|&nbsp;<a href="#">Terms of Service</a>
        </span>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
