.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;

  .logo {
    height: 30px;
    margin-right: 24px;
  }

  .nav-buttons {
    button {
      margin: 0 8px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .search-bar {
    width: 400px;
    margin: 0 16px;
    // The following styles help to vertically align the outline form field in the toolbar
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    .mat-mdc-form-field-flex {
      padding-top: 12px;
      height: 48px;
    }
    .mat-mdc-text-field-wrapper {
      background-color: white;
      border-radius: 4px;
    }
  }
}

.records-card {
  margin: 20px;
}

table {
  width: 100%;
}