<div class="dashboard-container">
  
  <div class="container">
    @if (welcomeMessage) {
      <h2 class="welcome-message">{{ welcomeMessage }}</h2>
    }
  
  <mat-card class="records-card">
  <mat-card-header>
    
    <mat-card-title>Alias Lookup table data.</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Alias ID Column -->
      <ng-container matColumnDef="aliasId">
        <th mat-header-cell *matHeaderCellDef> Alias ID </th>
        <td mat-cell *matCellDef="let element"> {{element.aliasId}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- App URL Column -->
      <ng-container matColumnDef="appUrl">
        <th mat-header-cell *matHeaderCellDef> App URL </th>
        <td mat-cell *matCellDef="let element">
          <a [href]="element.appUrl" target="_blank">{{element.appUrl}}</a>
        </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
          <img [src]="element.imageUrl" [alt]="'Image for ' + element.aliasId" width="100">
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Created By Column -->
      <ng-container matColumnDef="CreatedBy">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.CreatedBy}} </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="CreatedDate">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
      </ng-container>

      <!-- Modified By Column -->
<ng-container matColumnDef="ModifiedBy">
  <th mat-header-cell *matHeaderCellDef> Modified By </th>
  <td mat-cell *matCellDef="let element"> {{element.ModifiedBy}} </td>
</ng-container>

<!-- Modified Date Column -->
<ng-container matColumnDef="ModifiedDate">
  <th mat-header-cell *matHeaderCellDef> Modified Date </th>
  <td mat-cell *matCellDef="let element"> {{element.ModifiedDate}} </td>
</ng-container>


      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                   [pageSize]="20"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card-content>
</mat-card>

</div>